<ion-view view-title="Group">
    <ion-content>
        <div class="list">
            <a class="item item-avatar item-icon-right " href="#" ng-repeat="student in students">
                <img src="{{url}}/api/File/{{student.UserName}}">
                <h2>{{student.UserName}}</h2>
                <p> Find him on the map.</p>
                <div class="icon">
                    <span class="ion-trash-a" ng-click='removeFromGroup(student);'> </span>
                    &nbsp;
                    &nbsp;
                    <span class=" ion-search" ng-click='showOnMap(student.UserName);'></span>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
