<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Login</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal(1)">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doLogin(user)">
            <div class="list">
                <div class="item item-divider">Username</div>
                <label class="item item-input">
                    <i class="icon ion-ios-person placeholder-icon"></i>
                    <input type="text" required ng-model="user.username">
                </label>
                <div class="item item-divider">Password</div>
                <label class="item item-input">
                    <i class="icon ion-edit placeholder-icon"></i>
                    <input type="password" required ng-model="user.password">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Log in</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
