<ion-modal-view ng-controller="CameraCtrl" >
    <ion-header-bar>
        <h1 class="title">Profile</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal(2)">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div id="profile-bg"></div>
        <div id="content">
            <div id="profile-info">
                <img class="profile-image" sb-load="onLoadImg()" src="{{url}}/api/File/{{username}}">
                <h3 id="profile-name">{{username}}</h3>
                <span id="profile-description">
                    <img src="images/camera.jpg" height="50px" ng-click="takeImage()" />
                    <button id="upload-button" class="button icon-left ion-ios-camera button-positive" ng-click="getImage()">Upload picture</button>
                </span>
            </div>
        </div>       
        <img id="hidden-image" class="hidden" src="{{profilePic}}">
    </ion-content>
</ion-modal-view>
