<ion-view view-title="Users">
    <ion-content>
        <div class="list">
            <div class="item item-divider row">
                <div class="col col-40">User name </div>
                <div class="col col-20">Admin </div>
                <div class="col col-20">Teacher </div>
                <div class="col col-20">Delete </div>
            </div>

            <a class="item  row row-center" ng-repeat="user in users">
                <h2 class="col col-40 ">{{user.UserName}}</h2>
                <button ng-if="user[adminRole]" class="col col-20 button button-icon icon ion-checkmark balanced" ng-click="deleteRole(user, adminRole)"></button>
                <button ng-if="!user[adminRole]" class="col col-20 button button-icon icon ion-close-circled" ng-click="addRole(user, adminRole)"></button>

                <button ng-if="!user[teacherRole]" class="col col-20 button button-icon icon ion-close-circled " ng-click="addRole(user,teacherRole)"></button>
                <button ng-if="user[teacherRole]" class="col col-20 button button-icon icon ion-checkmark balanced" ng-click="deleteRole(user,teacherRole)"></button>

                <button class="col col-20 button button-small button-positive delte-button" ng-click="deleteUser(user)">Delete</button>
            </a>
        </div>
    </ion-content>
</ion-view>
